elhouse*/
!tests/build/
/dist/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~

.ipynb_checkpoints
docs/build

tags
TAGS
MANIFEST

.tox

cythonize.dat

# build documentation
doc/_build/
doc/auto_examples/
doc/generated/
doc/references/generated/
doc/bibtex/auto
doc/min_dependency_table.rst

# MacOS
.DS_Store
~